body {
    background-color: #333;
    padding: 0;
    margin: 0;

}

div#wrapper {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.login {
    margin: 0 auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 3px #666;
    padding: 15px;
    box-shadow: 0px 0px 11px #000000;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    background-color: #FFF;
    width: 300px;
    text-align: center;
}

.title1 {
    font-size: 24px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #333;
}

.font1 {
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-style: italic;
}

.fontlink1 a:link {
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #09F;
}

.fontlink1 a:visited {
    color: #F60;
    text-decoration: none;
}

.fontlink1 a:hover {
    color: #F60;
}

#login_input input {
    font-size: 10px;
    font-family: "Lucida Grande", sans-serif;
    color: #666;
    padding: 6px 6px;
    border: solid 1px #ccc;
    width: 150px;
    height: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input.btn {
    color: #09F;
    width: 100px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: 3px;
    background-color: #CCC
}
